controls/
inputs/
outputs/\~\$*

# Python, virtual env
venv
*.pyc
.pyc
__pycache__

# hyperGRC local files
repos.local.*
# NOTE: `repos.local` has been set to `--skip-worktree` to ignore local changes