# List of paths to local repositories with opencontrol.yaml files

# Example compliance-as-code repo
example/agencyapp

# Add relative or full paths to your compliance-as-code repos below
# /full/path/to/my/repo
