
/*******************************
* General
*******************************/

body {
  background-color: #78909C;
  /*background-color: rgb(247, 247, 247);*/
  /*background: url("https://upload.wikimedia.org/wikipedia/commons/f/f7/Rocky_Mountain_National_Park.jpg") no-repeat center center fixed; */
  /*background: url("/static/img/Rocky_Mountain_National_Park.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 40px 0 0 0;
  font-family: helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}
  h1 { font-size: 22px; }
  h2 { font-size: 20px; }
  h3 { font-size: 18px; }
  h4 { font-size: 16px; }

#static-page-content {
  width: 760px;
  margin-left: 0px;
  background-color: rgb(245, 245, 245);
  padding: 0 30px 10px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  min-height: 160px;
  opacity: 0.95;
  height: 90%;
  overflow: auto;
}

#static-page-content h3 {
  color: black;
  margin-top: 0.25em;
  margin-bottom: 1.5em;
  border-bottom: 0.5px solid #999;
}

#static-page-content .item-ctl {
    margin-top: 8px;
    /*margin-bottom: -10px;*/
    color: #999;
    font-size: 0.9em;
    cursor: hand;
}

/*******************************
/* sidebar 
*******************************/

#sidebar-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  z-index: 100;
  background-color: #333;
  color: white;
  opacity: 1.0;
  width: 60px;
  padding: 22px 8px 8px 8px;
  margin: 0 0 0 0;
  vertical-align: top;
  text-align: center;
  font-size: 1.5em;
  border-right: 1px solid #121212;
}

#sidebar a:link, #sidebar a:visited {
  color: white;
  text-decoration: none;
}

/*******************************
/* cards
*******************************/

.card-control {
  background-color: #fff;
}

.card-control :hover {
  background-color: #eee;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 740px;
  /*height: 800px;*/
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -520px;
  -webkit-transition: opacity 0.3s linear, right 0.1s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.1s ease-out;
       -o-transition: opacity 0.3s linear, right 0.1s ease-out;
          transition: opacity 0.3s linear, right 0.1s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 1;
  border: none;
  background-color: rgb(223, 227, 230);
  font-style: 1.2em;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.modal-content textarea, .modal-content input {
  border: 1px solid #ccc;
  background-color: rgb(223, 227, 230)
}

/*******************************
/* misc
*******************************/

.ctl-btns .btn {
  width: 97px;
  overflow: hidden;
  height: 3.5em;
  margin: 0 .9em .9em 0;
}

/*******************************
/* Page loading spinner
*******************************/

div#loading {
    width: 35px;
    height: 35px;
    display: none;
    /*background: url(/static/loadingimage.gif) no-repeat;*/
    cursor: wait;
    margin: auto;
    margin-top: 20%;
}

/* https://github.com/tobiasahlin/SpinKit */
.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
