<html>
    <head>
      <title>
        {% block title %}
        {% endblock %}
      </title>
      <!-- Load jQuery library first -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
              integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
      <!-- Autoresize -->
      <script src='/static/js/autosize.js'></script>
      <!-- TODO: better solution for invalidating browser css cache for static css pages -->
      <link rel="stylesheet" type="text/css" href="/static/css/base.css?r={{ range(0, 100000) | random }}">

      <script type="text/javascript">
        // Hide loading gif div and show workspace div on page show
        // to avoid seeing loading gif displayed when browser button back button clicked
        // after loading gif displayed when link to leave page was clicked.
        $(window).bind("pageshow", function(event) {
          $("#loading").hide();
          $("#workspace").show();
        });
      </script>

    </head>
    <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-transparent" style="opacity: 1.0;margin-left: 80px;">
      <div class="container-fluid" style="height: 60px;padding-top: 8px;">
        <div class="row" style="display:flex;">
          <div class="col-md-5">
            <button type="button" class="btn btn-link btn-lg" style="opacity: 0.55; color: black; background-color: rgb(223, 227, 230);">
              <span class="glyphicon glyphicon-home"></span>
              {% if project %}<b>{{ project.title }}</b>{% endif %}
            </button>
          </div>

          {% if project and project.source_repository %}
          <div class="col-md-7 ">
            <!-- button for source of content -->
            <a href="{{ project.source_repository }}" target="_blank"><button type="button" class="btn btn-link btn-lg" style="opacity: 0.55; color: black; background-color: rgb(223, 227, 230); margin-left:48px;"><b>source: {{ project.source_repository }}</b></button></a>
          </div>
          {% endif %}
      </div>
    </nav>

      <div id="sidebar-wrapper">
        <div id="sidebar">
          <p><a href="/" title="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></p>
          <!-- <p><a href="/login" title="Login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><br/>login</a></p><br/> -->
          {% if project %}
          <hr>
          <p><a href="{{project.url}}" title="Components" onclick="loading();"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/controls" title="Controls" onclick="loading();"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/evidence" title="Evidence" onclick="loading();"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/documents" title="Documents" onclick="loading();"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/assessments" title="Assessments" onclick="loading();"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/poams" title="POA&amp;Ms" onclick="loading();"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/team" title="Team" onclick="loading();"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/settings" title="Settings" onclick="loading();"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></p>
          {% endif %}
        </div>
      </div>

      <div id="loading">
        <button type="button" class="btn btn-link btn-lg" style="opacity: 0.55; color: black; background-color: rgb(223, 227, 230);">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </button>
      </div>

      <div id="workspace" class="container" style="width:100%; margin: 75px 12px 10px 92px;">
        <div class="row">
          {% block content %}{% endblock %}
        </div>
      </div>
      <script type="text/javascript">// <![CDATA[
        function loading(){
          setTimeout(function(){
            $("#workspace").hide();
            $("#loading").show();
          }, 5);
        }
// ]]></script>

      <!-- Control Editor Modal -->
      <div id="control-editor-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">...</h4>
            </div>
            <div class="modal-body">
              <div id="control-editor-control-group" style="margin-bottom: 1.5em">
              <div><label for="control-editor-control">Control</label></div>
              <div><select id="control-editor-control" class="form-control"></select></div>
              <div style="margin-top: 1em"><label for="control-editor-control-part">Control part <span style="font-weight: normal">(optional)</span></label></div>
              <input id="control-editor-control-part" class="form-control">
              </div>

              <div><label for="control-editor-narrative">Implementation narrative</label></div>
              <textarea id="control-editor-narrative" class="narrative-input form-control" style="height: 100px;" placeholder="Describe what the components contributes to the control..."></textarea>

              {#
              <b>Summary</b><br/>
              <input class="summary-input" style="width: 98%; padding: 8px;" placeholder="Write something short for spreadsheets..."><br/><br/>
              #}

              <div style="margin-top: 1.5em"><label for="control-editor-implementation-status">Implementation status</label></div>
              <input id="control-editor-implementation-status" class="implementation_status-input form-control" placeholder="Unknown">

              <div style="margin-top: 1.5em"><label>Evidence</label></div>
              <div class="evidence-list">
              </div>
              <div><select class="form-control" onchange="attach_evidence(this)">
                <option value="">attach evidence...</option>
                {% if evidence %}
                  {% for item in evidence %}
                    <option value="{{item.key}}">{{item.name}}</option>
                  {% endfor %}
                {% endif %}
              </select></div>

              {% if source_files %}
              <div id="control-editor-sourcefiles-group" style="margin-top: 1.5em;">
              <div><label for="control-editor-sourcefiles">Save to</label></div>
              <div><select id="control-editor-sourcefiles" class="form-control">
                {% for fn in source_files %}
                  <option>{{fn}}</option>
                {% endfor %}
              </select></div>
              </div>
              {% endif %}

              <div style="margin-top: 1.5em; color: #666;">
                <!-- Hiding mockup feature links
                <br/><span class="glyphicon glyphicon-check"></span> {{ range(1, 6) | random }} assessments
                <br/><span class="glyphicon glyphicon-time"></span> {{ range(1, 14) | random }} versions
                <br/><span class="glyphicon glyphicon-bookmark"></span> upstream source
                <br/>
                -->
                <a class="component-link" style="color: #666;"><span class="glyphicon glyphicon-th"></span>  View all components for this control</a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" >Save</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- /Control Editor Modal -->

      {% block scripts %}{% endblock %}

      <script>
      {% if project %}

      {% if evidence %}
      var evidence_map = {
        {% for item in evidence %}
          {{item.key|tojson}}: {{item.name|tojson}},
        {% endfor %}
      };
      {% endif %}

      // Edit a control.
      var edit_control_current_control = null;
      var edit_control_current_callback = null;
      function edit_control(control, callback) {
        // Save total control data and callback for later.
        edit_control_current_control = control;
        edit_control_current_callback = callback;

        // Populate the modal.
        var modal = $('#control-editor-modal');
        modal.find('.modal-title').text(
          control.control.number + (control.control_part ? (" Part " + control.control_part) : "")
          + " in " + control.component.name);
        modal.find('#control-editor-control-group, #control-editor-sourcefiles-group').hide();
        modal.find('.narrative-input').val(control.narrative);
        //modal.find('.summary-input').val(control.summary);
        modal.find('.implementation_status-input').val(control.implementation_status);
        
        modal.find('.evidence-list').text(''); // clear
        (control.evidence || []).forEach(function(item) {
          var node = $("<li style='margin-bottom: .5em;'/>");
          node.text(evidence_map[item]);
          modal.find('.evidence-list').append(node);
        })

        modal.find('.component-link')
          .attr('href', control.control.url + "/grid")
          .show();

        // Show the modal.
        modal.modal();
        
        // resize textarea height arbitrarily small then to scrollHeight browser determined by text length
        modal.find('.narrative-input').css('height', 20 + 'px');
        modal.find('.narrative-input').css('height', modal.find('.narrative-input')[0].scrollHeight + "px");
        modal.find('.narrative-input').css('resize', 'none');
      }

      {% if control_catalog %}
      var control_catalog = {{control_catalog|tojson}};
      function new_control(control_default, callback) {
        edit_control_current_control = control_default;
        edit_control_current_callback = callback;

        var modal = $('#control-editor-modal');
        modal.find('.modal-title').text("Add Control to " + control_default.component.name);

        modal.find('#control-editor-control-group, #control-editor-sourcefiles-group').show();
        var control_list = modal.find('#control-editor-control');
        control_list.text(''); // clear options
        control_catalog.forEach(function(control, i) {
          if (control_default.standard && control.standard.id != control_default.standard.id)
            return;
          if (control_default.family && control.family.id != control_default.family.id)
            return;
          var option = $("<option/>");
          option.attr("value", i);
          option.text(control.number + ": " + control.name);
          control_list.append(option);
        });

        modal.find('#control-editor-control-part').val('');
        modal.find('.narrative-input').val('');
        //modal.find('.summary-input').val(control.summary);
        modal.find('.implementation_status-input').val('');
        modal.find('#control-editor-sourcefiles').val('');

        modal.find('.component-link').hide();
        modal.modal();
        // resize textarea height arbitrarily small then to scrollHeight browser determined by text length
        modal.find('.narrative-input').css('height', 20 + 'px');
        modal.find('.narrative-input').css('height', modal.find('.narrative-input')[0].scrollHeight + "px");
        modal.find('.narrative-input').css('resize', 'none');
      }
      {% endif %}

      function attach_evidence(evidence_list) {
        evidence_list = $(evidence_list);
        if (evidence_list.val() == "") return; // nothing selected
        edit_control_current_control.evidence.push(evidence_list.val());
        evidence_list.val('');
      }

      // Save control.
      $('#control-editor-modal').on("hidden.bs.modal", function() {
        var data;

        // If this is a new control, add the standard, control ID, and control part to the
        // data structure.
        if (!edit_control_current_control.control) {
          var selected_control = control_catalog[$(this).find('#control-editor-control').val()];
          data = {
            mode: "new",
            component: edit_control_current_control.component.id, 
            standard: selected_control.standard.id,
            control: selected_control.id,
            control_part: $('#control-editor-control-part').val(),
            source_file: $('#control-editor-sourcefiles').val()
          };

        // Otherwise we're updating an exiting control.
        } else {
          data = {
            mode: "update",
            component: edit_control_current_control.component.id, 
            standard: edit_control_current_control.standard.id,
            control: edit_control_current_control.control.id,
            control_part: edit_control_current_control.control_part,
          };         
        }

        // General info.
        data.organization = {{project.organization.id|tojson}};
        data.project = {{project.id|tojson}};

        // Update.
        //data.summary = $(this).find('.summary-input').val();
        data.narrative = $(this).find('.narrative-input').val();
        data.implementation_status = $(this).find('.implementation_status-input').val();

        // Cancel if trying to add something empty.
        if (data.mode == "new" && data.narrative == "" && data.implementation_status == "")
          return;

        // Send.
        $.ajax({
          url: "/update-control",
          method: "POST",
          data: data,
          success: function(res) {
            // ok it's saved, unless there's an error which we should display
            if (res != "OK")
              alert(res);
            // save succeeded, so also update the current page displayed version of content
            else
              edit_control_current_callback();
          }
        });
      });

      // Autoresize textarea
      autosize($('.narrative-input'));

      // Update tool tip
      function update_control(elem, control) {
        elem.find('.col-sm-12').attr('title', control.narrative);
      }
      {% endif %}
      </script>

    </body>
</html>
