<html>
    <head>
      <title>
        {% block title %}
        {% endblock %}
      </title>
      <!-- Load jQuery library first -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
              integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
      <!-- Autoresize -->
      <script src='/static/js/autosize.js'></script>
      <!-- TODO: better solution for invalidating browser css cache for static css pages -->
      <link rel="stylesheet" type="text/css" href="/static/css/base.css?r={{ range(0, 100000) | random }}">
    </head>
    <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-transparent" style="opacity: 1.0;margin-left: 80px;">
      <div class="container-fluid" style="height: 60px;padding-top: 8px;">
        <div class="row" style="display:flex;">
          <div class="col-md-5">
            <button type="button" class="btn btn-link btn-lg" style="opacity: 0.55; color: black; background-color: rgb(223, 227, 230);">
              <span class="glyphicon glyphicon-home"></span>
              {% if project %}<b>{{ project.title }}</b>{% endif %}
            </button>
          </div>

          {% if project and project.source_repository %}
          <div class="col-md-7 ">
            <!-- button for source of content -->
            <a href="{{ project.source_repository }}" target="_blank"><button type="button" class="btn btn-link btn-lg" style="opacity: 0.55; color: black; background-color: rgb(223, 227, 230); margin-left:48px;"><b>source: {{ project.source_repository }}</b></button></a>
          </div>
          {% endif %}
      </div>
    </nav>

      <div id="sidebar-wrapper">
        <div id="sidebar">
          <p><a href="/" title="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></p>
          <!-- <p><a href="/login" title="Login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><br/>login</a></p><br/> -->
          {% if project %}
          <hr>
          <p><a href="{{project.url}}" title="Components" onclick="loading();"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/controls" title="Controls" onclick="loading();"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/documents" title="Documents" onclick="loading();"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/assessments" title="Assessments" onclick="loading();"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/poams" title="POA&amp;Ms" onclick="loading();"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/team" title="Team" onclick="loading();"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></p><br/>
          <p><a href="{{project.url}}/settings" title="Settings" onclick="loading();"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></p>
          {% endif %}
        </div>
      </div>

      <div id="loading">

        <button type="button" class="btn btn-link btn-lg" style="opacity: 0.55; color: black; background-color: rgb(223, 227, 230);">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </button>

        
      </div>

      <div id="workspace" class="container" style="width:100%; margin: 75px 12px 10px 92px;">
        <div class="row">
          {% block content %}{% endblock %}
        </div>
      </div>
      <script type="text/javascript">// <![CDATA[
        function loading(){
          setTimeout(function(){
            $("#workspace").hide();
            $("#loading").show();
          }, 200);
        }
// ]]></script>

      <!-- Control Editor Modal -->
      <div id="control-editor-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">...</h4>
            </div>
            <div class="modal-body">
              <b>Implementation narrative</b></br/>
              <textarea class="narrative-input" style="width: 98%; height: 100px; padding: 8px; margin-bottom:20px;" placeholder="Describe what the components contributes to the control..."></textarea>

              {#
              <b>Summary</b><br/>
              <input class="summary-input" style="width: 98%; padding: 8px;" placeholder="Write something short for spreadsheets..."><br/><br/>
              #}

              <b>Implementation status</b></br/>
              <input class="implementation_status-input" style="width: 98%; padding: 8px;" placeholder="Unknown"><br/><br/>

              <br />
              <div style="color: #666;">
                <!-- Hiding mockup feature links
                <br/><span class="glyphicon glyphicon-check"></span> {{ range(1, 6) | random }} assessments
                <br/><span class="glyphicon glyphicon-time"></span> {{ range(1, 14) | random }} versions
                <br/><span class="glyphicon glyphicon-bookmark"></span> upstream source
                <br/>
                -->
                <br/><a class="component-link" style="color: #666;"><span class="glyphicon glyphicon-th"></span>  View all components for this control</a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" >Save</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- /Control Editor Modal -->

      {% block scripts %}{% endblock %}

      <script>
      {% if project %}
      // Edit a control.
      var edit_control_current_control = null;
      var edit_control_current_callback = null;
      function edit_control(control, callback) {
        edit_control_current_control = control;
        edit_control_current_callback = callback;
        var modal = $('#control-editor-modal');
        modal.find('.modal-title').text(control.control.number + (control.control.part ? (" Part " + control.control.part) : ""));
        modal.find('.narrative-input').val(control.narrative);
        //modal.find('.summary-input').val(control.summary);
        modal.find('.implementation_status-input').val(control.implementation_status);
        modal.find('.component-link')
          .attr('href', control.control.url + "/grid");
        modal.modal();
        // resize textarea height arbitrarily small then to scrollHeight browser determined by text length
        modal.find('.narrative-input').css('height', 20 + 'px');
        modal.find('.narrative-input').css('height', modal.find('.narrative-input')[0].scrollHeight + "px");
        modal.find('.narrative-input').css('resize', 'none');
      }

      // Save control.
      $('#control-editor-modal').on("hidden.bs.modal", function() {
        // Update.
        edit_control_current_control.summary = $(this).find('.summary-input').val();
        edit_control_current_control.narrative = $(this).find('.narrative-input').val();
        edit_control_current_control.status = $(this).find('.implementation_status-input').val();

        // Send.
        $.ajax({
          url: "/update-control",
          method: "POST",
          data: {
            organization: {{project.organization.id|tojson}},
            project: {{project.id|tojson}},
            component: edit_control_current_control.component.id, 
            standard: edit_control_current_control.standard.id,
            control: edit_control_current_control.control.id,
            control_part: edit_control_current_control.control_part,
            //summary: edit_control_current_control.summary,
            narrative: edit_control_current_control.narrative,
            implementation_status: edit_control_current_control.implementation_status,
          },
          success: function(res) {
            // ok it's saved, unless there's an error which we should display
            if (res != "OK")
              alert(res);
            // save succeeded, so also update the current page displayed version of content
            else
              edit_control_current_callback();
          }
        });
      });

      // Autoresize textarea
      autosize($('.narrative-input'));

      // Update tool tip
      function update_control(elem, control) {
        elem.find('.col-sm-12').attr('title', control.narrative);
      }
      {% endif %}
      </script>

    </body>
</html>
