{% extends "base.html" %}

{% block content %}
<div id="components" style="overflow: auto; width: {{ (stats.control_families_total+2) * 360 + 50 |int }}px; overflow: auto;">

<div style="width:380px; min-height:100px; max-height: 94%; overflow-y: auto; background-color: #cdcdcd; margin-right: 12px; float: left; padding: 18px; border-radius: 5px;">
  <h4 style="height:2em; margin-top: -8px;">{{ component_name | upper }}</h4>
  <div style="background-color: #fff; border-bottom: 1.5px solid #aaa; margin-bottom: 8px;padding:12px; min-height: 82px; overflow-y: auto; border-radius: 5px;">
    <!-- <p>description here</p> -->
    <div style="text-decoration: underline;">{{ component_name | title }} relevant to:</div>
    <div class="row" style="display:flex;"><div class="col-md-2" style="text-align: right;">{{ stats.controls_total }}</div><div class="col-md-9">controls</div></div>
    <div class="row" style="display:flex;"><div class="col-md-2" style="text-align: right;">{{ stats.controlparts_total }}</div><div class="col-md-9">control-parts</div></div>
    <div class="row" style="display:flex;"><div class="col-md-2" style="text-align: right;">{{ stats.control_families_total }}</div><div class="col-md-9">control groups</div></div>

    <br/>
    <div style="text-decoration: underline;">Current control-parts status:</div>
    {% for status in stats.controlparts_status_totals %}
    <div class="row" style="display:flex;"><div class="col-md-2" style="text-align: right;">{{ status[1] }}</div><div class="col-md-9">{{ status[0] }}</div></div>
    {% endfor %}

    <br/>
    <div style="text-decoration: underline;">FWIW:</div>
    <div class="row" style="display:flex;"><div class="col-md-2" style="text-align: right;">{{ "{:,}".format(stats.controlparts_words_total) }}</div><div class="col-md-9">total words</div></div>
    <div class="row" style="display:flex;"><div class="col-md-2" style="text-align: right;">{{ "%.1f"|format(stats.controlparts_words_avg) }}</div><div class="col-md-9">average words per control-part</div></div>
  </div>
</div>

  {% for control_family_selected in control_families %}
  {% if control_family_selected %}
    <div style="width:340px; min-height:100px; max-height: 94%;background-color: rgb(223, 227, 230); margin-right: 12px; margin-bottom:20px; float: left; padding: 18px; border-radius: 5px; overflow-y: auto;">

      <h4 style="height:2em; margin-top: -8px;">{{ control_family_selected }}</h4>

      <div class="containerx" style="">
        <div class="row" style="overflow-x: auto; margin-left:2px; margin-right: 2px;">

      {% for control_family, control_key, part, control_name, component_order, component_name, security_control_type, implementation_status, summary, narrative, covered_by in ssp %}

        {% if control_family == control_family_selected %}
          <div class="card-control" style="background-color: #fff; border-bottom: 1.5px solid #aaa; margin-bottom: 8px;padding:8px; height: 32px; overflow-y: hidden; border-radius: 5px;">


          <div id="control-{{loop.index}}" class="container" style="width:100%;">
            <div class="row">
              <script async>
                var control_{{loop.index}} = {
                  organization: {{organization|tojson}},
                  project: {{project|tojson}},
                  component: {{component_name|tojson}},
                  control_key: {{control_key|tojson}},
                  control_part: {{part|tojson}},
                  narrative: {{narrative|tojson}},
                  summary: {{summary|tojson}},
                  status: {{implementation_status|tojson}},
                  covered_by: {{covered_by|tojson}}
                };
              </script>
              <a href="#" style="color: #333; font-weight: normal;" onclick="edit_control(control_{{loop.index}}, function () { update_control($('#control-{{loop.index}}'), control_{{loop.index}}); }); return false;">
                <div class="col-sm-12" style="padding-left: 0px;" title="{{ narrative }}">
                {{ control_key }} {% if part %}<span style="">Part {{ part }} </span>{% endif %}{% if control_name %}{{ control_name | truncate(30, true, "") }}{% endif %}
                </div>
              </a>
              <!-- Eventually, move status information to bottom of card -->
              <!-- <div class="col-sm-2" style="text-align: right;color: #999;">
                {% if implementation_status == "In Place" or implementation_status == "Implemented" or implementation_status == "Partially in Place" %}
                  <span class="glyphicon glyphicon glyphicon-check" style="color: green;" title="{{ implementation_status }}"></span>
                {% elif implementation_status.lower() == "Not applicable".lower() %}
                  <span class="glyphicon glyphicon glyphicon-ban-circle" style="" title="{{ implementation_status }}"></span>
                {% elif implementation_status == "Planned" %}
                  <span class="glyphicon glyphicon glyphicon-info-sign" style="color: orange;" title="{{ implementation_status }}"></span>
                {% else %}
                  <span class="glyphicon glyphicon glyphicon-alert" style="color: red;" title="{{ implementation_status }}"></span>
                {% endif %}
              </div> -->
            </div>
          </div>

            <!-- <div style="margin-top: 8px; cursor: default;" title="{{ narrative }}">
              {% if narrative %}{{ narrative | truncate(40, true, "") }}...{% else %}Add description...{% endif %}
            </div> -->
          </div>


        {% endif %}

      {% endfor %}
    </div>
  {% endif %}
  </div><!-- /row -->
  </div><!-- /container -->
{% endfor %}

 
    <div style="width:340px; height:40px; background-color: #fff; border:2px dashed #aaa; margin-right: 12px; float: left; padding: 18px; border-radius: 5px; color: #999; opacity: 0.6;">
        <h4 style="height:2em; margin-top: -8px;">+ Add another column</h4>
    </div>


</div>

{% endblock %}
