{% extends "base.html" %}

{% block title %}
  hyperGRC - {{project.title}} - Components
{% endblock %}

{% block content %}
<div id="static-page-content" class="container">
  <div class="row item-ctl">
    <div class="col-md-10">&nbsp;</div>
    <div class="col-md-2" style="text-align: right;" onclick="alert('{{ modify_msg }}')">
      MODIFY <span class="glyphicon glyphicon-cog"></span>
    </div>
  </div>

    <h1>{{project.title}} components</h1>

    {% for component in components %}
        <h2>
          <a href="{{component.url}}" onclick="loading();">
            <span class="glyphicon glyphicon-link"></span>
            {{ component.name }}
          </a>
        </h2>
    {% endfor %}

    <p style="margin-top: 30px;">
      <a href="{{project.url}}/add-component" class="btn btn-primary">Add Component...</a>
    </p>
</div>
{% endblock %}
