{% extends "base.html" %}

{% block title %}
  hyperGRC - {{project.title}} - {{component.name}}
{% endblock %}

{% block content %}
<div id="components" style="overflow: auto; width: {{ (control_families|length+2) * 360 + 50 | int }}px;">

<div class="page-info-card-container" style="width:290px;">
  
  <div>{{ project.title }} component</div>
  <h3 style="margin: 0 0 18px 0;">{{ component.name }}</h3>

  <div class="page-info-card">
    <!-- <p>description here</p> -->
    <div style="text-decoration: underline;">Component impact</div>
    <div class="row"><div class="col-md-2" style="text-align: right;">{{ "{:,}".format(control_families|length) }}</div><div class="col-md-10">control families</div></div>
    <div class="row"><div class="col-md-2" style="text-align: right;">{{ "{:,}".format(control_count) }}</div><div class="col-md-10">controls</div></div>
    <div class="row"><div class="col-md-2" style="text-align: right;">{{ "{:,}".format(control_part_count) }}</div><div class="col-md-10">control parts</div></div>

    <br/>
    <div style="text-decoration: underline;">Current control-parts status:</div>
    {% for status in ctl_i7r.keys() %}
      <div class="row">
        <div class="col-md-2" style="text-align: right;">{{ ctl_i7r[status] }}</div>
        <div class="col-md-10">{{ status }}</div>
      </div>
    {% endfor %}

    <br/>
    <div style="text-decoration: underline;">FWIW:</div>
    <div class="row"><div class="col-md-2" style="text-align: right;">{{ "{:,}".format(total_words) }}</div><div class="col-md-9">total words</div></div>
    <div class="row"><div class="col-md-2" style="text-align: right;">{{ "%.1f"|format(average_words_per_controlpart) }}</div><div class="col-md-9">average words per control-part </div></div>
  </div>

  <p>
    <a href="{{component.url}}/guide" class="btn btn-primary">Guide Me</a>
  </p>

</div>

  {% for control_family in control_families %}
    <div class="card-control-container">

      <div>{{control_family.standard.name}}</div>
      <h3 style="margin: 0 0 18px 0;">
        {% if control_family.name != control_family.abbrev %}
          {{control_family.abbrev}}:
        {% endif %}
        {{ control_family.name }}
      </h3>

      <div class="containerx">
        <div style="overflow-x: auto; margin-left:2px; margin-right: 2px;">

      {% set outer_loop = loop %}

      {% for impl in control_family.controls %}
          <div class="card-control">

          <div id="control-{{outer_loop.index}}-{{loop.index}}" class="container" style="width:100%;">
            <div class="row">
              <script async>
                var control_{{outer_loop.index}}_{{loop.index}} = {{impl|tojson}};
              </script>

              <a href="#" class="card-control-textlink" style="" onclick="edit_control(control_{{outer_loop.index}}_{{loop.index}}, function (new_control_data) { update_control(new_control_data, $('#control-{{outer_loop.index}}-{{loop.index}}'), control_{{outer_loop.index}}_{{loop.index}}); }); return false;">
                <div class="col-sm-12" style="padding-left: 0px;" title="{{ impl.narrative }}">
                  {{ impl.control.number }}
                  {% if impl.control_part %}<span>Part {{ impl.control_part }} </span>{% endif %}
                  {% if impl.control.name %}&middot; {{ impl.control.name | truncate(60, true, "...") }}{% endif %}
                </div>
              </a>
            </div>
          </div>
            <div class="ctl-i7r row col-sm-6" style="font-size: 12px;">
              {% if impl.implementation_status == "In Place" or impl.implementation_status == "Implemented" %}
              <span class="glyphicon glyphicon-ok-circle" style="color: green;" title="{{ impl.implementation_status }}"></span>
              {% elif impl.implementation_status == "Partially in Place" %}
              <span class="glyphicon glyphicon-adjust" style="color: cyan;" title="{{ impl.implementation_status }}"></span>
              {% elif impl.implementation_status == "Planned" %}
              <span class="glyphicon glyphicon-record" style="color: gold;" title="{{ impl.implementation_status }}"></span>
              {% elif impl.implementation_status == "Not Applicable" %}
              <span class="glyphicon glyphicon-ban-circle" style="color: #888;" title="{{ impl.implementation_status }}"></span>
              {% elif impl.implementation_status == "Not Implemented" %}
              <span class="glyphicon glyphicon-warning-sign" style="color: red;" title="{{ impl.implementation_status }}"></span>
              {% else %}
              <span class="glyphicon glyphicon-question-sign" style="color: black;" title="Not specified"></span>
              {% endif %}
            </div>
          </div>
      {% endfor %}

      <div class="card-control" style="background-color: #DDD;">
        <a href="#" style="display: block; background: none; color: #555; text-decoration: none;" onclick='new_control({ component: { id: {{component.id|tojson}}, name: {{component.name|tojson}} }, standard: { id: {{ control_family.standard.id|tojson }} }, family: { id: {{ control_family.id|tojson }} } }, function() { loading(); window.location.reload(); }); return false;'>
          Add a control...
        </a>
      </div>

    </div>
  </div><!-- /row -->
  </div><!-- /container -->
{% endfor %}

    <div style="width:280px; background-color: #fff; border:2px dashed #aaa; margin-right: 12px; float: left; padding: 18px; border-radius: 5px; color: #999; opacity: 0.6;">
        <a href="#" style="display: block; background: none; color: #555; text-decoration: none;" onclick='new_control({ component: { id: {{component.id|tojson}}, name: {{component.name|tojson}} } }, function() { loading(); window.location.reload(); }); return false;'>
          Add another group...
        </a>
    </div>


</div>

{% endblock %}

{% block scripts %}
<script>
  // Update tool tip after a control is edited.
  function update_control(new_control_data, elem, control) {
    // Update our local control object with the updated data from the server.
    control.narrative = new_control_data.narrative;
    control.implementation_status = new_control_data.implementation_status;

    // Update the UI.
    elem.find('.col-sm-12').attr('title', control.narrative);
  }
</script>
{% endblock %}