{% extends "base.html" %}

{% block title %}
  hyperGRC - {{project.title}} - Controls
{% endblock %}

{% block content %}
<div id="static-page-content" class="container">
  <div class="row">
    <div class="col-md-12">
        <h1>Controls</h1>
    </div>
    <div class="col-md-12 ctl-btns" style="color: black; margin-bottom: 1.5em;">

        {% for standard in standards %}
        <div>
          <h2>{{ standard.name }}</h2>

          {% for control in standard.controls %}
          
            {% if loop.changed(control.family) %}
              <h3>{{control.family}}</h3>
            {% endif %}

            <a href="{{control.url}}/combined" onclick="loading();">
              <button type="button" class="btn btn-default"
                title="{{control.name}}">
                {{ control.number }}
                {% if control.components %}
                  <div><small>{{ control.components|length }} component{% if control.components|length != 1 %}s{% endif %}</small>
                {% endif %}
              </button>
            </a>
          {% endfor %}

        </div>
        {% endfor %}
    </div>
  </div>    
</div>
{% endblock %}
