{% extends "base.html" %}

{% block title %}
  hyperGRC - {{project.title}} - {{standard.name}} - {{control.number}}: {{control.name}}
{% endblock %}

{% block content %}

<div id="components" style="overflow: auto; width: 3600px; overflow: auto;">

<div style="width:340px; min-height:100px; max-height: 94%; overflow-y: auto;background-color: #cdcdcd; margin-right: 12px; float: left; padding: 18px; border-radius: 5px;">
  <div>{{standard.name}}</div>
  <h1 style="margin: 0 0 18px 0;">{{control.number}}: {{control.name}}</h4>

  <!-- button row -->
  <div class="row" style="margin-bottom: 8px;">
    <div class="col-md-4">
      <!-- <button type="button" class="btn btn-outline-secondary" style="">Guide me</button> -->
    </div>
    <div class="col-md-2">
      &nbsp;
    </div>
    <div class="col-md-4">
      <a href="{{control.url}}/grid" style="color: black;" onclick="loading();">
        <button type="button" class="btn btn-link" style="opacity: 1.0; color: black;">Show grid</button>
      </a>
    </div>
  </div>

  <!-- control guidance -->
  <div style="background-color: #fff; border-bottom: 1.5px solid #aaa; margin-bottom: 8px;padding:12px; border-radius: 5px;">
    <span style="color: #999;font-weight: bold;">Guidance</span><br/>
    <div style="max-height: 40%; overflow-y: auto;">{{ control.description | nl2br | safe  }}</div>
  </div>

  <!-- assessment links -->
  <div style="background-color: #fff; border-bottom: 1.5px solid #aaa; margin-bottom: 8px;padding:12px; border-radius: 5px;">
    <span style="color: #999;font-weight: bold;">{{ control.number }} assessment</span><br/>
    <div style="max-height: 10%; overflow-y: auto;">Assessment summary here</div>
  </div>
</div>

<div class="container" style="width: 760px; margin-left: 18px; background-color: white; padding: 0 30px 10px 30px;border-radius: 5px;max-height: 95%; overflow-y: auto; opacity: 0.97;">
  <div class="row" style="">
    <div id="narrative" style="">
      <h2>Control</h2>

      <p>{{ control.description | nl2br | safe  }}</p>

      <h2>Implementation Narrative</h2>

      {% for part in parts %}
          {% if part.part %} <!-- # there are null parts meaning the whole control, not a part -->
            <h4>Part {{ part.part }}</h4>
          {% endif %}

          {% for component_info in part.components %}
            <h5>{{ component_info.component.name }}</h5>

            {% for impl in component_info.controls %}
              <div style='margin: auto auto 8px auto;'>{{ impl.narrative | nl2br | safe }}</div>
            {% endfor %}

            {% if covered_by|length > 0 %}
            <div style='margin: auto auto 8px auto;'>(Evidence: {% for cb in covered_by %} <a href="{{ cb.path }}" style="color: #333;">{{ cb.name }}</a>{%- if not loop.last -%}, {% endif %}{% if loop.last %}.{% endif %}{% endfor %})</div>
            {% endif %}

          {% endfor %}

        {% endfor %}

    </div><!-- /narrative -->
  </div><!-- /row -->
</div><!-- /containter -->
{% endblock %}
