{% extends "base.html" %}

{% block content %}
<div id="static-page-content" class="container">
    <div class="row item-ctl">
        <div class="col-md-10">&nbsp;</div>
        <div class="col-md-2" style="text-align: right;" onclick="alert('{{ item_ctl_msg }}')">
          MODIFY <span class="glyphicon glyphicon-cog"></span>
        </div>
    </div>

    <div class="row">
        <div class="row col-md-12">
            <h3>Your {{ project }} documents</h3>
        </div>

        <div class="row col-md-12" style="max-height: 90%; overflow-y: auto;">
            {% if message %}
            <div class="col-md-12" style="">{{ message }}</div>
            {% endif %}
        </div>

        {% if cfg.mode == "local workstation" %}
        <div class="row col-md-12" style="margin-bottom: 8px;">Displaying local path to documents</div>
        {% for document in documents %}
        <div class="row col-md-12">
          <div class="col-md-1"><span class="glyphicon glyphicon-file" style="color: #444;"></span></div>
          <div class="col-md-11" style="margin-bottom: 8px;">{{ document.file_path }}</div>
        </div>
        {% endfor %}
        {% endif %}

        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
{% endblock %}
