{% extends "base.html" %}

{% block title %}
	hyperGRC
{% endblock %}

{% block content %}
<div id="static-page-content" class="container" style="">
	<div class="row item-ctl">
		<div class="col-md-10">&nbsp;</div>
		<div class="col-md-2" style="text-align: right;" onclick="alert('{{ modify_msg }}')">
		  MODIFY <span class="glyphicon glyphicon-cog"></span>
		</div>
	</div>

	<h1>Your projects</h1>

	{% for organization in organizations %}

		<h2>{{organization.name}}</h2>

		{% for project in organization.projects %}
			<h2>
				<span class="glyphicon glyphicon-link"></span>
				<a href="{{project.url}}" onclick="loading();">
					{{project.title}}
				</a>
			</h2>
			<p>{{project.description}}</p>
		{% endfor %}

	{% endfor %}

</div>
{% endblock %}
