{% extends "base.html" %}

{% block title %}
	hyperGRC
{% endblock %}

{% block content %}
<div id="static-page-content" class="container" style="">
	<h1>Your projects</h1>

	{% for organization in organizations %}

		<h2>{{organization.name}}</h2>

		{% for project in organization.projects %}
			<h2>
				<span class="glyphicon glyphicon-link"></span>
				<a href="{{project.url}}" onclick="loading();">
					{{project.title}}
				</a>
			</h2>
			<p>{{project.description}}</p>
		{% endfor %}

	{% endfor %}
</div>
{% endblock %}
