{% extends "base.html" %}

{% block content %}
<div  id="static-page-content" class="container">
  <div class="row item-ctl">
    <div class="col-md-10">&nbsp;</div>
    <div class="col-md-2" style="text-align: right;" onclick="alert('{{ modify_msg }}')">
      MODIFY <span class="glyphicon glyphicon-cog"></span>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-md-12">
        <h3>{{ project.title }} team</h3>
      </div>
    </div>

    {% if message %}
    <div class="row" style="margin-bottom: 0.5em;">
      <div class="col-md-12">{{ message }}</div>
    </div>
    {% else %}

    {% for team in teams %}
      <h3>{{ team }} team</h3>
      {% for member in teams[team] %}
      <div class="row" style="margin-bottom: 0.5em;">
        <div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div>
        <div class="col-md-5">{{ member.role }}</div>
        <div class="col-md-3"><a href="mailto:{{ member.email }}" style="color: black;">{{ member.name }}</a></div>
      </div>
      {% endfor %}
    {% endfor %}
    {% endif %}
    <div class="col-md-12">
      <p>&nbsp;</p>
    </div>
  </div>
</div>
{% endblock %}
