{% extends "base.html" %}

{% block content %}
<div id="components" style="overflow: auto; width: {{ (stats.control_families_total+1) * 360 + 50 |int }}px; overflow: auto;">

<div style="width:340px; min-height:100px; max-height: 94%; overflow-y: auto; background-color: #cdcdcd; margin-right: 12px; float: left; padding: 18px; border-radius: 5px;">
  <h4 style="height:2em; margin-top: -8px;">{{ component_name | upper }}</h4>
  <div style="background-color: #fff; border-bottom: 1.5px solid #aaa; margin-bottom: 8px;padding:12px; min-height: 82px; overflow-y: auto; border-radius: 5px;">
    <!-- <p>description here</p> -->
    <div style="text-decoration: underline;">{{ component_name | title }} relevant to:</div>
    <div>{{ stats.controls_total }} controls</div>
    <div>{{ stats.controlparts_total }} control-parts</div>
    <div>{{ stats.control_families_total }} control groups</div>

    <br/>
    <div style="text-decoration: underline;">Current status:</div>
    {% for status in stats.controlparts_status_totals %}
      <div>{{ status[1] }} control-parts {{ status[0] }}</div>
    {% endfor %}

    <br/>
    <div style="text-decoration: underline;">FWIW:</div>
    <div>{{ "{:,}".format(stats.controlparts_words_total) }} total words</div>
    <div>{{ "{:,}".format(stats.controlparts_words_avg) }} average words per control-part</div>


  </div>
</div>

  {% for control_family_selected in control_families %}
  {% if control_family_selected %}
    <div style="width:340px; min-height:100px; max-height: 94%;background-color: rgb(223, 227, 230); margin-right: 12px; margin-bottom:20px; float: left; padding: 18px; border-radius: 5px; overflow-y: auto;">

      <h4 style="height:2em; margin-top: -8px;">{{ control_family_selected }}</h4>

      <div class="containerx" style="">
        <div class="row" style="overflow-x: auto; margin-left:2px; margin-right: 2px;">

      {% for control_family, control_key, part, control_name, component_order, component_name, security_control_type, implementation_status, summary, narrative in ssp %}

        {% if control_family == control_family_selected %}
          <div class="card-control" style="background-color: #fff; border-bottom: 1.5px solid #aaa; margin-bottom: 8px;padding:8px; height: 32px; overflow-y: hidden; border-radius: 5px;">


          <div class="container" style="width:100%;">
            <div class="row">
              <a href="" style="color: #333; font-weight: normal;" class="" data-toggle="modal" data-target="#control-modal-{{loop.index}}">
                <div class="col-sm-12" style="padding-left: 0px;" title="{{ component_name }}: {{ narrative }}">
                {{ control_key }} {% if part %}<span style="">Part {{ part }} </span>{% endif %}{% if control_name %}{{ control_name | truncate(30, true, "") }}{% endif %}
                </div>
              </a>
              <!-- Eventually, move status information to bottom of card -->
              <!-- <div class="col-sm-2" style="text-align: right;color: #999;">
                {% if implementation_status == "In Place" or implementation_status == "Implemented" or implementation_status == "Partially in Place" %}
                  <span class="glyphicon glyphicon glyphicon-check" style="color: green;" title="{{ implementation_status }}"></span>
                {% elif implementation_status.lower() == "Not applicable".lower() %}
                  <span class="glyphicon glyphicon glyphicon-ban-circle" style="" title="{{ implementation_status }}"></span>
                {% elif implementation_status == "Planned" %}
                  <span class="glyphicon glyphicon glyphicon-info-sign" style="color: orange;" title="{{ implementation_status }}"></span>
                {% else %}
                  <span class="glyphicon glyphicon glyphicon-alert" style="color: red;" title="{{ implementation_status }}"></span>
                {% endif %}
              </div> -->
            </div>
          </div>

            <!-- <div style="margin-top: 8px; cursor: default;" title="{{ narrative }}">
              {% if narrative %}{{ narrative | truncate(40, true, "") }}...{% else %}Add description...{% endif %}
            </div> -->
          </div>


          <!-- Modal -->
          <div id="control-modal-{{loop.index}}" class="modal control-modal" role="dialog" data-path="{{component_id}}/{{control_key}}/{{part}}">
            <div class="modal-dialog modal-lg" style="height: 600px;">

              <!-- Modal content-->
              <div class="modal-content">
                
                <div class="modal-body">
                 
                  <div class="row">
                    <div class="col-sm-10">
                      <h4 class="modal-title"><b>{{ control_key }} Part {{ part }} - {{ component_name }}</b></h4>
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                      <button type="button" class="btn btn-link glyphicon glyphicon-remove-circle" data-dismiss="modal"
                    style="font-size:2em; color: #777;"></button>
                    </div>
                  </div>

                  <br/>
                  
                  <b>Implementation narrative</b></br/>
                  <textarea class="narrative-input" style="width: 98%; height:{% if narrative %}{{ narrative | length / 122 * 22 + 18 |int }}{% endif %}px; padding: 8px; margin-bottom:20px;" placeholder="Describe what {{ component_name }} contributes to the control...">{% if narrative %}{{ narrative }}{% endif %}</textarea>

                  <b>Summary</b><br/>
                  <input class="summary-input" style="width: 98%; padding: 8px;" value="{% if summary %}{{ summary }}{% endif %}" placeholder="Write something short for spreadsheets..."><br/><br/>

                  <b>Implementation status</b></br/>
                  <input class="implementation_status-input" style="width: 98%; padding: 8px;" value="{% if implementation_status %}{{ implementation_status }}{% endif %}" placeholder="Unknown"><br/><br/>

                  <br />
                  <div style="color: #666;">
                    <br/><span class="glyphicon glyphicon-check"></span> {{ range(1, 6) | random }} assessments
                    <br/><span class="glyphicon glyphicon-time"></span> {{ range(1, 14) | random }} versions
                    <br/><span class="glyphicon glyphicon-bookmark"></span> upstream source
                    <br/>
                    <br/><a href="/{{ organization }}/{{ project }}/800-53r4/control/{{ control_key | replace('-0', '-') }}" style="color: #666;"><span class="glyphicon glyphicon-th"></span> {{ control_key }} components</a>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <!-- /Modal -->
        {% endif %}

      {% endfor %}
    </div>
  {% endif %}
  </div><!-- /row -->
  </div><!-- /container -->
{% endfor %}

 
    <div style="width:340px; height:40px; background-color: #fff; border:2px dashed #aaa; margin-right: 12px; float: left; padding: 18px; border-radius: 5px; color: #999; opacity: 0.6;">
        <h4 style="height:2em; margin-top: -8px;">+ Add another column</h4>
    </div>


</div>

{% endblock %}

{% block scripts %}
<script>
$(function() {
  $('.control-modal').on("hidden.bs.modal", function() {
    $.ajax({
      url: "/update-control",
      method: "POST",
      data: {
        path: $(this).attr('data-path'),
        summary: $(this).find('.summary-input').val(),
        narrative: $(this).find('.narrative-input').val()
      },
      success: function(res) {
        // ok it's saved, unless there's an error which we should display
        if (res != "OK")
          alert(res);
        // save succeeded, so also update the current page displayed version of content
      }
    });
  })
});
</script>

<script>
  autosize($('textarea'));
</script>
{% endblock %}