{% extends "base.html" %}

{% block content %}
<div id="static-page-content" class="container">
  <div class="row">
    <div class="col-md-12">
        <h3>Your {{ project }} controls</h3>
    </div>
    <div class="col-md-12 ctl-btns" style="color: black; margin-bottom: 1.5em;">

        {% for standard in certification_controls.standards %}
        <div>
          <h4>{{ standard }}</h4>
          <br/>

          {% for control in certification_controls.standards[standard] %}

            <a href="/{{ organization }}/{{ project }}/control/{{ control }}/combined"><button type="button" class="btn btn-default" style="width:76px; margin: 8px; opacity: 1.0; color: black;">{{ control }}</button></a>
          {% endfor %}

        </div>
        {% endfor %}

        <!-- % for standard in certification_controls.standards %}
        <div>
          <h4>{{ standard }}</h4>
          <br/>

          {% for control in certification_controls.standards[standard] %}

            <a href="/{{ organization }}/{{ project }}/control/{{ control }}"><button type="button" class="btn btn-default" style="width:76px; margin: 8px; opacity: 1.0; color: black;">{{ control }}</button></a>
          {% endfor %}

        </div>
        % endfor %}  -->

    </div>
  </div>    
</div>
{% endblock %}
