{% extends "base.html" %}

{% block content %}
<div  id="static-page-content-panels" class="container" style="width: 1260px; margin-left: 0px;">
    <div class="row">

    	<div class="col-md-6" style="">
			<div  id="static-page-content" class="container" style="width: 96%; margin-left: 0px; background-color: rgb(223, 227, 230); padding: 0 30px 10px 30px; border-radius: 5px; margin-bottom: 20px; border: 1px solid #eee; height: 90%; opacity: 0.95;">
			    <div class="row">
			    	<div class="col-md-12">
			      		<h3>Your {{ project }} team</h3>
			    	</div>
			    	<div class="col-md-12">
			        	<p>&nbsp;</p>
			        </div>
			    </div>
			</div>
    	</div>

		<div class="col-md-6" style="">
			<div  id="static-page-content" class="container" style="width: 96%; margin-left: 0px; background-color: rgb(223, 227, 230); padding: 0 30px 10px 30px; border-radius: 5px; margin-bottom: 20px; border: 1px solid #eee; height: 90%; opacity: 0.95;">
			    <div class="row">
			    	<div class="col-md-12">
			      		<h3>Your {{ project }} roles</h3>
			    	</div>
			    <div class="row col-md-12">
					<div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div>
					<div class="col-md-5"> Authorizing Official</div>
					<div class="col-md-6"><a href="" style="color: black;" target=”_blank”>--</a></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div>
					<div class="col-md-5">ISSM</div>
					<div class="col-md-6"><a href="" style="color: black;" target=”_blank”>--</a></div>
				</div>
				<div class="row col-md-12">
					<p>&nbsp;</p>
				</div>
				<div class="row col-md-12">
					<div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div>
					<div class="col-md-5">ISSO</div>
					<div class="col-md-6"><a href="{{ src_repo }}" style="color: black;" target=”_blank”>--</a></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div>
					<div class="col-md-5">Security Control Assessor (SCA)</div>
					<div class="col-md-6"><a href="" style="color: black;" target=”_blank”>--</a></div>
				</div>
				<div class="row col-md-12">
					<p>&nbsp;</p>
				</div>
				<div class="row col-md-12">
					<div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div>
					<div class="col-md-5">Vulnerability Analyst</div>
					<div class="col-md-6"><a href="" style="color: black;" target=”_blank”>--</a></div>
				</div>
			    </div>
			</div>
        </div>

    </div>
</div>
{% endblock %}
